.card-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .card-inner {
    width: 100%;
    color: #333333;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.8rem 1.25rem;
    line-height: 1.3em;

    .card-image {
      width: 7.8rem;
      margin: 0.6rem auto 1.5rem;
      border-radius: 7.8rem;
      -webkit-border-radius: 7.8rem;
      -moz-border-radius: 7.8rem;
      -ms-border-radius: 7.8rem;
      -o-border-radius: 7.8rem;
    }

    .card-text {
      font-size: 2rem;
      font-weight: 700;
    }
  }
}
